$color = #cc6733;
.vux-icon-dot.active
    background-color $color !important
/*.vux-button-group
  >a
    height: 40px !important
    line-height: 41px !important
    color $color !important
  > a.vux-button-group-current
    background $color !important
    color #fff !important
  :after
    color $color !important
    border-color $color !important
  > a.vux-button-tab-item-first:after
    border-top-left-radius 42px!important
    border-bottom-left-radius 42px!important
  > a.vux-button-tab-item-last:after
    border-top-right-radius 42px!important
    border-bottom-right-radius 42px!important*/
.vux-tab-wrap
  .vux-tab .vux-tab-item.vux-tab-selected
    color $color !important
.vux-tab-ink-bar
    background-color $color !important
.vux-header
  background #000 !important
  position absolute !important
  top: 0
  z-index 9999
  width: 100%
  padding 0 !important
  -webkit-user-select none
  .vux-header-title
    height: 36px!important
    line-height: 36px!important
.vux-header .vux-header-left .left-arrow
  top:-10px!important

.weui-btn_primary
  background $color!important
.weui-btn_warn
  background #000 !important
.course
    //position: relative
    height: 100%
    padding-top: 36px
    overflow scroll
    //overflow hidden

    #titleImg
      height: 0
      overflow hidden
      padding-bottom: 50%
      margin-bottom: 3%

    .info
      padding 0 8%

      .produce
        padding 2% 0
        border-top: 1px solid #c8c8c8
        border-bottom: 1px solid #c8c8c8

        div
          margin-bottom: 2%

        p
          font-weight bold
          text-indent 2rem

      .contact_us
        h1
          color #cc6733
          font-size: 2rem;
          margin-bottom: 1vh

        p
          height 4.5vh
          font-size: 1.6rem;

          img
            margin-right 5%

    #booking
      position: absolute
      text-align center
      color #fff
      width: 100%
      height: 10vh
      line-height: 10vh
      font-size: 2.5rem
      background #cc6733
      left: 0
      bottom: 0
.weui-dialog__bd
  padding 0 1em .8em !important
